
@{
    ViewBag.Title = "Git Test Google Map";
}

<style>
    .angular-google-map-container {
        height: 400px;
    }

    .gmapWindow {
        width: 300px;
        /*height: 200px;*/
        overflow: hidden;
    }
</style>
<!-- Angular Google Maps Library -->
<script src="~/Scripts/AngularGoogleMaps/angular-simple-logger.min.js"></script>
<script src="~/Scripts/AngularGoogleMaps/lodash.min.js"></script>
<script src="~/Scripts/AngularGoogleMaps/angular-google-maps.min.js"></script>

<h2>Git Test Google Map</h2>
<div ng-app="myTestGoogleMapApp" ng-cloak>
    <div ng-controller="testGoogleMapCtrl">

        <!-- Google map start -->
        <div class="col-md-12">
            <script id="searchbox.tpl.html" type="text/ng-template">
                <input type="text" placeholder="Search">
            </script>
            <ui-gmap-google-map center="map.center" refresh="true" zoom="map.zoom" draggable="true" options="map.options" data-tap-disabled="true">
                <!--Search box-->
                <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events" ng-model="searchbox.model" options='searchbox.options'></ui-gmap-search-box>-->

                <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeClick="map.window.closeClick()">
                    <table cellpadding="0" cellspacing="0" class="gmapWindow">
                        <tr>
                            <td rowspan="2">
                               {{map.window.title}}
                            </td>
                        </tr>
                    </table>
                </ui-gmap-window>
                <ui-gmap-markers idkey="marker.id" models="map.markers" coords="'self'" doCluster="false" fit="'true'" icon="'icon'" events="map.markersEvents " options="'options'"></ui-gmap-markers>
            </ui-gmap-google-map>

        </div>
        <!-- Google map end -->

    </div>
</div>

<script>
    (function ($) {
        'use strict';
        angular.module("myTestGoogleMapApp", ["uiGmapgoogle-maps", "nemLogging"])

            // Google map start
            .config(function (uiGmapGoogleMapApiProvider) {
                uiGmapGoogleMapApiProvider.configure({
                    key: 'AIzaSyDZkhxsEk69ATeYFBsoKv3i_tyNxxbj19A',
                    v: '3.20',
                    libraries: 'weather,geometry,visualization'
                });
            })
            // Google map end

            .controller("testGoogleMapCtrl", ["$scope", "uiGmapGoogleMapApi", "uiGmapIsReady", "dataService", function ($scope, uiGmapGoogleMapApi, uiGmapIsReady, dataService) {
                // Google map start
                $scope.NpoMarkers = dataService.initializeMarkersCoordinate();
                $scope.map = {
                    center: {
                        latitude: 2.6817,
                        longitude: 101.6613
                    },
                    zoom: 1,
                    pan: 1,
                    options: {
                        scrollwheel: true
                    },
                    markers: $scope.NpoMarkers,
                    window: {
                        marker: {},
                        show: false,
                        closeClick: function () {
                            this.show = false;
                        },
                        options: {}, // define when map is ready
                        title: ''
                    }
                };

                //$scope.searchbox = {
                //    model: "",
                //    template: 'searchbox.tpl.html',
                //    options: {
                //        autocomplete: true,
                //        componentRestrictions: { country: 'my' }
                //    },
                //    events: {
                //        places_changed: function (searchbox) {
                //            vm.place = searchbox.getPlaces()[0];
                //            vm.coordinates = { latitude: vm.place.geometry.location.lat(), longitude: vm.place.geometry.location.lng() }
                //        }
                //    }
                //};
                
                uiGmapGoogleMapApi.then(function (maps) {
                    //maps.visualRefresh = true;

                    // Merge options which need google.map helpers
                    angular.merge($scope.map, {
                        options: {
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            zoomControlOptions: {
                                style: google.maps.ZoomControlStyle.LARGE,
                                position: google.maps.ControlPosition.LEFT_CENTER
                            },
                            events: {
                                tilesloaded: function (maps, eventName, args) { },
                                dragend: function (maps, eventName, args) { },
                                zoom_changed: function (maps, eventName, args) { }
                            }
                        },
                        markersEvents: {
                            click: function (marker, eventName, model, args) {
                                $scope.map.window.model = model;
                                $scope.map.window.title = model.title;
                                //$scope.map.window.npoImage = model.npoImage;
                                //$scope.map.window.npoDesc = model.npoDesc;
                                //$scope.map.window.npoAverageRating = model.npoAverageRating;
                                //$scope.map.window.npoAverageStars = model.npoAverageStars;
                                //$scope.map.window.npoReviewCount = model.npoReviewCount;
                                //$scope.map.window.npoProfileLink = model.npoProfileLink;
                                $scope.map.window.show = true;
                            }
                        }
                    });
                })

                $scope.closeClick = function () {
                    this.window = false;
                };

                uiGmapIsReady.promise() // if no value is put in promise() it defaults to promise(1)
                .then(function (map_instances) {
                    // * May place loading icon here
                    console.log('Gmap is ready.');
                    //console.log(map_instances[0].map); // get the current map
                })
                .then(function () {
                    
                });
                // Google map end
            }])

            // Functions to store & process data
            .factory("dataService", ["$http", "$filter", function ($http, $filter) {
                var dataFactory = {};

                dataFactory.initializeMarkersCoordinate = function () {
                    var npoMarkerInfo =
                        [
                            {
                                id : 1,
                                latitude: 3.086097,
                                longitude: 101.694346,
                                title: "Kondominium Tropicana Lebuhraya Sungai Besi"
                            }
                        ];

                    return npoMarkerInfo;
                };

                return dataFactory;
            }]);

    })(jQuery);
</script>
